.*
dep/sgpp-base-2.0.0/.sconf_temp/
dep/sgpp-base-2.0.0/base/examples/JSONExample
dep/sgpp-base-2.0.0/base/examples/dataMatrixSerializeDemo
dep/sgpp-base-2.0.0/base/examples/datavectorSerializeDemo
dep/sgpp-base-2.0.0/base/examples/detectPlatformConfiguration
dep/sgpp-base-2.0.0/base/examples/unserializeGrid
dep/sgpp-base-2.0.0/site_scons/Helper.pyc
dep/sgpp-base-2.0.0/site_scons/ModuleHelper.pyc
dep/sgpp-base-2.0.0/site_scons/SGppConfigure.pyc
*.out
*.blite
*.lint
*.o
*.os
*.so
*.doxy
*.log
*Doxyfile
tags
bin
out
output
lib
