.project
.cproject
.settings
dep/SGpp/.sconf_temp/
dep/SGpp/.sconsign.dblite
dep/SGpp/base/examples/JSONExample
dep/SGpp/base/examples/JSONTest
dep/SGpp/base/examples/platformConfigurationTest
dep/SGpp/base/examples/predictive_refinement
dep/SGpp/base/examples/quadrature
dep/SGpp/base/examples/refinement
dep/SGpp/base/examples/tutorial
dep/SGpp/base/examples/dataMatrixSerializeDemo
dep/SGpp/base/examples/datavectorSerializeDemo
dep/SGpp/base/examples/detectPlatformConfiguration
dep/SGpp/base/tests/test_base_boost
dep/SGpp/base/examples/.gitignore
dep/SGpp/lib
*.lint
*.o
*.os
*.so
*.doxy
*.log
*Doxyfile
tags
bin
out
simulations
demo
lib
